body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#bookmarks {
    width: 100%;
    min-height: 32px;
    border-color: rgb(220, 223, 224) !important;
    border-bottom: 1.3px solid;
    font-size: 12px;
}

#condiv {
  padding-top: 100px;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #9EB1CD;
    
  }

  #bookmarkList{
    list-style-type: none;
    display: flex;
    margin:  0;
    padding: 1px 0;
    height: 32px;
   
}
  
  .item{
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 140px;
    padding-top: 8px;
    border-radius: 12px;
    
  }

  .item:hover {
    background-color: rgb(243, 246, 247);
  }

  .item > span {
    
    pointer-events: none;
    vertical-align: middle;
  }

  .menu {
    width: 100px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    display: none;
    background-color: white;
  }

  .menu-options {
    list-style: none;
    padding: 10px 0;
  }

  .menu-option {
    font-size: 12px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
  }

  .menu-option:hover{
    background: rgba(0, 0, 0, 0.2);
  }
